/* login.css */

body {
        background-color: #f2f2f2;
        font-family: 'Arial', sans-serif;
        color: #333;
    }
    
    #LoginPage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffcb05; /* Couleur inspirée de Pikachu */
    }
    